# Binary libs
*.a
*.jar

# User-specific files
Config.resx

# Restored packages
/samples/packages
/packages

# Tools
xamarin-component.exe

# Build results
component/*.xam
.builds
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

*.suo
*.user
*.sln.docstates
*.DS_Store
*.userprefs
*.jf

*_i.c
*_p.c
*_i.h
*.dll
*.dll.*
*.ilk
*.mdb
*.meta
*.nupkg
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
